//mixins 变量
$legacy-support-for-ie: true !default;
$inline-block-alignment: middle !default;

//格式化字体&颜色
$fontF-yahei: Microsoft YaHei, Helvetica, sans-serif;
$fontF-song: SimSun, Helvetica, sans-serif;
$fontS-default: 13px;  //默认字体尺寸
$lineH-default: 24px;  //默认行高
$bodycolor: #f0f0f0; //背景颜色
$fontS-h: 22px; //大标题
$color-default: #666666; //默认字体颜色
$color-b: #444444; //高黑
$color-g: #999999; //灰色
$font-bold: 16px; //加粗字体大小
$bold-color: #c7c7c7; //加粗字体颜色

